$b: #33A8E0;
$bg: linear-gradient(151.45deg, #47B7EE 15.87%, #1B88BD 87.21%), #33A7E0;
$rg: linear-gradient(132.44deg, #F74F4F 24.1%, #D20C0C 71.59%);
$w: #FFFFFF;
$t: #333333;
$g: rgba(239, 242, 247, 0.2);
